@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --line-border-empty: #f6f7fb;
}

body{
    background-color: var(--line-border-empty);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
}